.toggle-container{
  margin-top: 13px;
  cursor: pointer;
}

.menu-icon {
    cursor: pointer;
    height: 24px;
  }


  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 6px) ;
    transform: rotate(-45deg) translate(-2px, 6px) ;
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -6px) ;
    transform: rotate(45deg) translate(-2px, -6px) ;
  }
