@import '../../../main';

.content{
  height: calc(100vh - 45px);
  text-align: center;
  background-color: $accent-darker;
  color: $secondary;
  h2{
    font-style: italic;
    font-weight: bolder;
    padding: 50px;
  }
}


@media only screen and (min-width : 768px) {
  .content{
    h2{
      padding: 100px;
    }
  }
}
