@use 'main' as *;
@use 'sass:color';
.home-container{
  height: calc(100vh - 45px);
  background-color: white;
  //background-color: color.adjust($primary, $lightness: 3%);
  //background-color: $primary-lighter;
  background: url('../../../assets/hex.svg');
  background-position: center;
  //background-size: 150px 130px; /* Adjust based on hex size */
  //background-size: 100px 86.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  h1 {
    color: $accent;
  }
  h2, h3{
    color: $secondary;
  }

}


.heading{
  padding: 0 10px;
  text-align: center;
}
.avatar-frame, .avatar-frame img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid $secondary;
}
