<!--<div class='content content-item'>-->
<!--education works!-->
<!--</div>-->
<div class='education'>
  <rm-info [title]='"Education"'>
    <rm-info-item>
      <h4>BSC (HONOURS) COMPUTING AND INFORMATION SYSTEMS, <br/>FIRST CLASS</h4>
      <h5>UNIVERSITY OF LONDON</h5>
      <h6 class='dates'>2012</h6>
      <p>Dissertation:</p>
      <p>
        <a class='link' [href]="dissertationUrl" target="_blank">
          Investigating the Auto-Focusing problem using Locality Preserving Projections (LPP): Can LPP be
          used to determine the best focused image from a sequence of incrementally focused images?
        </a>
      <p>Subjects included:</p>
      <p>Artificial Intelligence, Artificial Neural Networks, Data Security, Data Compression, Operational
        Research, Accounting Information Systems, Database Systems, Data Communications and
        Enterprise Networking, Software Engineering, Algorithm design and analysis, Programming advanced topics and techniques.</p>
      <p>Honours and awards:</p>
      <ul>
        <li>Best Overall in Neural Networks - Attained the highest mark in Neural Networks on an international level.</li>
        <li>My Dissertation placed third internationally and was selected by the University of London to form part
          of their Virtual Learning Environment (VLE) project library.<br/><span class='italics'>
          The project library in VLE is expanded every year with a selection of the best projects so that future students
          may get a better idea of the level required for a good Project Report</span></li>
      </ul>
    </rm-info-item>
    <rm-info-item>
      <h4>DIPLOMA IN COMPUTING AND INFORMATION SYSTEMS, <br/>DISTINCTION</h4>
      <h5>UNIVERSITY OF LONDON</h5>
      <h6 class='dates'>2008</h6>
      <p>Subjects included:</p>
      <p>Mathematics for Business, Introduction to Java and Object Oriented Programming, Mathematics for Computing, Introduction to Computing and the Internet, Information Systems: The Foundation of E-
        Business.</p>
    </rm-info-item>
  </rm-info>
</div>
