@import "theme";
.italics{
  font-style: italic;
}

.multiline{
  white-space: pre-line;
}

.justify{
  text-align: justify;
}

.link {
  color: $accent-darker;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: inherit;
}