$primary-lighter: #414852;
$primary: #1f2833;
$primary-darker: #0b0c10;
$secondary: #e5e6e7;
$secondary-darker: #c5c6c7;
$accent: #66fcf1;
$accent-shadow: rgba(102, 252, 241, .4);
$accent-darker: #45a29e;
