<!--<div rmScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" >-->
<div class='root' [ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}" *ngIf="data$ | async as data">
    <div class='nav-bar' [ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
        <div class="nav-bar-content">
            <img class='nav-logo' (click)="scrollToElement(home)" src='../assets/rm-logo-white.svg'/>
            <div class='nav-container'>
                <div class='nav-item' (click)="scrollToElement(about)" [ngClass]='{active : currentSection==="about"}'>
                    About
                </div>
                <div class='nav-item' (click)="scrollToElement(experience)" routerLink=""
                     [ngClass]='{active : currentSection==="experience"}'>
                    Experience
                </div>
                <div class='nav-item' (click)="scrollToElement(education)"
                     [ngClass]='{active : currentSection==="education"}'>
                    Education
                </div>
                <div class='nav-item' (click)="scrollToElement(skills)"
                     [ngClass]='{active : currentSection==="skills"}'>
                    Skills
                </div>
                <div class='nav-item' (click)="scrollToElement(contact)"
                     [ngClass]='{active : currentSection==="contact"}'>
                    Contact
                </div>
            </div>
            <rm-nav-toggle (click)="onMenuClick()"></rm-nav-toggle>
        </div>
    </div>


    <!--<div class='content' >-->
    <main id='parentDiv' rmScrollSpy (sectionChange)="onSectionChange($event)">
        <div #home id='home'>
            <rm-home></rm-home>
        </div>
        <div #about id='about'>
            <rm-about [about]="data.about"></rm-about>
        </div>
        <div #experience id='experience'>
            <rm-experience [experience]="data.experience"></rm-experience>
        </div>
        <div #education id='education'>
            <rm-education></rm-education>
        </div>
        <div #skills id='skills'>
            <rm-skills [skills]="data.skills"></rm-skills>
        </div>
        <div #contact id='contact'>
            <rm-contact></rm-contact>
        </div>
    </main>

    <footer class='centered'>
        © 2020 Richard Muscat All rights reserved.
    </footer>
</div>
<!--</div>-->
