/* You can add global styles to this file, and also import other style files */
//@use 'styles/generic.scss';
//@use 'styles/layout.scss';
//@use 'styles/theme.scss';


//theme

$classic: #111313;
$primary-lighter: #414852;
$primary: #1f2833;
$primary-darker: #0b0c10;
$secondary: #e5e6e7;
$secondary-darker: #c5c6c7;
$accent: #66fcf1;
$accent-shadow: rgba(102, 252, 241, .4);
$accent-darker: #45a29e;



//layout
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;




//generic
.italics{
  font-style: italic;
}

.multiline{
  white-space: pre-line;
}

.justify{
  text-align: justify;
}

.link {
  color: $accent-darker;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: inherit;
}


*{
  padding:0;
  margin:0;
  outline: none;
}

::-webkit-scrollbar-track
{
  background-color: $primary-lighter;
}

::-webkit-scrollbar
{
  width: 3px;
  background-color: $primary;
}

::-webkit-scrollbar-thumb
{
  background-color: $accent-shadow;
  border: 2px solid $accent-shadow;
  border-radius: 10px;
}

body{
  background-color: $classic;

  height: 100vh;
  -webkit-font-smoothing: antialiased;
  //font-family: 'Montserrat:100,100i,200,200i,300,300i,400 400i"', sans-serif;
  font-family: 'Poppins', serif;
  font-weight: 200;
  h1{
    font-weight: 400;
    font-size: 2em;
  }
  h2 {
    font-weight: 200;
    font-size: 1em;
  }
  h3 {
    font-weight: 200;
    font-size: 16px;
  }
}

@media only screen and (min-width : 768px) {
  body{
    h1{
      font-size: 3em;
    }
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.3em;
    }
  }
}


.centered{
  display:flex;
  align-items:center;
  justify-content: center;
}

.content-item{
  padding-top: 56px;
}
.title{
  font-size: 25px;
}
