@use 'main' as  *;

.content {
  height: calc(100vh - 156px);
  text-align: center;
  background-color: $accent-darker;
  color: $secondary;
  font-size: 4em;
  a{
    margin: 20px;
    i{
      color: $secondary-darker;
    }
    i:hover{
      color: $secondary;
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .content{
    font-size: 6em;
  }
}
